{
    "singleQuote": true,
    "semi": true,
    "jsxSingleQuote": false,
    "no-restricted-imports": false,
    "no-console": true,
    "trailingComma": "all",
    "tabWidth": 2,
    "arrowParens": "always",
    "react-in-jsx-scope": false,
    "jsxBracketSameLine": false,
    "printWidth": 85,
    "bracketSameLine": false,
    "bracketSpacing": true
}
