$primary-color: rgb(25, 118, 210);
$secondary-color: rgb(156, 39, 176);
$error-color: #d32f2f;
$text-secondary-color: #757575;

$primary-hover-color: #115293;
$primary-contrast-color: #ffffff;

$border-radius: 4px;
$hover-color: rgba(165, 184, 202, 0.4);
